.spc-main-body {
    background-color: #22272e;
    color: #efefef;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: calc(5px + 2vmin);
}

.spc-symbol-quotes-container {
    text-align: center;
    margin-top: 100px;
}

.spc-ui-stats {
    padding-top: 20px;
    font-size: 16px;
    text-align: center;
}

.spc-all-result {
    margin-left: 5px;
    font-size: 14px;
    color: #a0a0a5;
}

.spc-button {
    border: none;
    padding: 6px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    margin-top: 8px;
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: #0074bc;
    color: #efefef;
    /*border: 2px solid #efefef;*/
  }
  
.spc-button:hover {
    background-color: #0074bcb2;
}

.spc-price-calc-container {
    text-align: center;
}

#spc-enterprice-div {
    margin-right: 10px;
}

#spc-entershares-div {
    margin-left: 10px;
}

.spc-all-inputs {
    background-color: #181c21;
    border: 2px solid #181c21;
    color: #efefef;
    height: 30px;
    width: 100px;
}

/* gets rid of up and down arrow inside the inputs */
.spc-all-inputs::-webkit-outer-spin-button,
.spc-all-inputs::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.spc-all-inputs:focus {
    outline: none;
    border: 1px solid rgb(145, 143, 143);
}


#spc-entersharesprice-div {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
}

.spc-quotes-column-higher {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    padding: 5px;
}

.spc-quotes-column-lower-1 {
    margin-right: 20px;
}

.spc-quotes-column-lower-2 {
    margin-right: 20px;
}

.spc-ui-sharesprice-column {
    text-align: center;
    padding: 30px;
    margin-bottom: 25px;
}

.spc-div-3-bottomtable {
    width: 100%;
    /* height: 30vh; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
}

.spc-div-3-bottomtable > table {
    /* border: 2px solid #027f0c; */
    width: 800px;
    height: 200px;
  }
    
.spc-first-sec-table-header {
    font-size: calc(3px + 2vmin);
    border-bottom: 1px solid #a0a0a5;
    border-right: 1px solid #a0a0a5;
  }
    
.spc-first-sec-table-body {
    text-align: center;
    font-size: calc(2px + 2vmin);
    border-bottom: 1px dashed #a0a0a5;
    border-right: 1px dashed #a0a0a5;
  }

#pand1-alt-red {
    color: #a72130;
}

#pand1-alt-grn {
    color: #027f0c;
}

  #spc-third-table-col {
    border-right: none;
  }

  #spc-third-table-header {
    border-right: none;
  }

  .spc-empty-table-body {
    /* color: #22272e; */
    padding-bottom: 10px;
    border-right: 1px dashed #a0a0a5;
  }

  .spc-empty-third-table-body {
    /* color: #22272e; */
    padding-bottom: 10px;
  }
